h1 {
  font-size: 2rem;
  color: #333;
}
.btn-wallet {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}
.btn-network {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}
p {
  font-size: 1rem;
  color: white;
}